
/* Glassmorphism container */
.dashboard-box {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 50px 60px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.37);
  text-align: center;
  max-width: 500px;
}

.dashboard-box h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #fff;
}
.dashboard-box p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #f0f0f0;
}
.dashboard-box button {
  padding: 12px 25px;
  font-size: 1em;
  border: none;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.dashboard-box button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.login-box button{
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
    color: white;
    font-weight: bold;
}
.login-box a{
    color:#fff;
    text-decoration:underline;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #fff;

  background-image: url("images/wp4024517-cozy-wallpapers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 20px;
}