body {
    font-family: Arial, sans-serif;
    background: #000;   /* black background */
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    background: #111; 
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,255,0.3);
}

input {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background:#007BFF;
     color: white;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.done {
    text-decoration: line-through;
     background: #555;   /* gray when completed */
    color: #ccc;
}

li button {
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 6px;
}
button:hover {
    background: #0056b3;
}